<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <!-- Meta tag -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="Become OnlinesPey Agent | OnlinesPey Retailer | OnlinesPey MD | OnlinesPey DT"
    />
    <meta name="description" content="" />
    <meta name="copyright" content="OnlinesPey" />

    <!-- Title Tag -->
    <title>Contact</title>

    <link rel="stylesheet" href="css/style.css" />
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="images/logo21.png" />

    <!-- Bootstrap Icon cdn -->
    <link rel="stylesheet" href="css/bootstrap-icons.css" />

    <!-- Bootstrap CSS cdn -->
    <link
      href="css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />

    <!-- animinate -->
    <link rel="stylesheet" href="css/animate.min.css" />

    <!-- slick -->
    <link rel="stylesheet" type="text/css" href="css/slick.css" />
    <link rel="stylesheet" type="text/css" href="css/slick-theme.css" />

    <script src="js/ff5b9029ba.js" crossorigin="anonymous"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async=""
      src="https://www.googletagmanager.com/gtag/js?id=UA-169240197-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-169240197-1");
    </script>
    <script src="/utils/aeps-gateway-lib.js"></script>
  </head>
  <body>
    <div class="topheader d-none d-lg-flex">
      <div class="topheader_container">
        <div class="typewriter_div">
          <img src="images/call.webp" alt="Call_Logo" />
          <div class="typewriter">
            <div class="typewriter-text">
              <b>+91 9097379339</b> <b>6204712391</b>
            </div>
          </div>
        </div>
        <div class="topheader_right">
          <ul class="social">
            <!-- https://www.facebook.com/OnlinesPey-108325328297454  target="_blank"-->
            <li>
              <a href="#">
                <div class="bg-facebook icon-s5"></div>
              </a>
            </li>
            <!-- https://www.twitter.com -->
            <li>
              <a href="#">
                <div class="bg-twitter icon-s5"></div>
              </a>
            </li>
            <!-- https://www.youtube.com -->
            <li>
              <a href="#">
                <div class="bg-youtube icon-s5"></div>
              </a>
            </li>
            <!-- https://www.instagram.com/OnlinesPeydotcom/ -->
            <li>
              <a href="#">
                <div class="bg-instagram icon-s5"></div>
              </a>
            </li>
          </ul>
          <a
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            class="topheader_btn"
            >Join Now</a
          >
          <!-- <button id="popup" onclick="div_show()"></button> -->
          <div class="dropdown">
            <a
              class="dropdown-toggle text-white language"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Languages
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Hindi</a></li>
              <li><a class="dropdown-item" href="#">English</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"
          ><img src="images/LOGO22NEW.png" alt="OnlinesPey Logo"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="https://OnlinesPey.com/"
                ><i class="fas fa-home"></i> Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">About Us</a>
            </li>
            <li class="nav-item dropdown" id="myDropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-bs-toggle="dropdown"
              >
                Our Services
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#"> Banking » </a>
                  <ul class="submenu dropdown-menu">
                    <li><a class="dropdown-item" href="#">Aeps</a></li>
                    <li class="hide">
                      <a class="dropdown-item" href="#">Money Trnasfer </a>
                    </li>
                    <li><a class="dropdown-item" href="#">Micro ATM</a></li>
                    <li><a class="dropdown-item" href="#">Mpos Machine</a></li>
                    <li><a class="dropdown-item" href="#">Upi QR Code</a></li>
                    <li>
                      <a class="dropdown-item" href="#">Account Opening</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a class="dropdown-item" href="#"> Bill Payment » </a>
                  <ul class="submenu dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="#">Mobile Recharge</a>
                    </li>
                    <li><a class="dropdown-item" href="#">DTH Recharge</a></li>
                    <li><a class="dropdown-item" href="#">BBPS</a></li>
                    <li class="hide">
                      <a class="dropdown-item" href="#">Credit Card Bill</a>
                    </li>
                    <li><a class="dropdown-item" href="#">LIC Premium</a></li>
                    <li><a class="dropdown-item" href="#">Water Bill</a></li>
                  </ul>
                </li>
                <li>
                  <a class="dropdown-item" href="#"> Travels Booking » </a>
                  <ul class="submenu dropdown-menu">
                    <li><a class="dropdown-item" href="#">Flight</a></li>
                    <li><a class="dropdown-item" href="#">Bus</a></li>
                    <li class="hide">
                      <a class="dropdown-item" href="#">IRCTC Train Booking</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a class="dropdown-item" href="#"> Insurance » </a>
                  <ul class="submenu dropdown-menu">
                    <li><a class="dropdown-item" href="#">Health</a></li>
                    <li><a class="dropdown-item" href="#">Vehicle</a></li>
                    <li><a class="dropdown-item" href="#">Life</a></li>
                  </ul>
                </li>
                <li>
                  <a class="dropdown-item" href="#"> Others » </a>
                  <ul class="submenu dropdown-menu">
                    <li><a class="dropdown-item" href="#">Pan Card</a></li>
                    <li><a class="dropdown-item" href="#">Ayushman Card</a></li>
                    <li class="hide">
                      <a class="dropdown-item" href="#">Prepaid Card</a>
                    </li>
                    <li><a class="dropdown-item" href="#">Fast Tag</a></li>
                  </ul>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/contact"
                >Contact Us</a
              >
            </li>

            {{!-- <li class="nav-item">
              <a class="nav-link nav_login_btn" href="/auth"
                ><i class="fas fa-user-tie"></i> Login</a
              >
            </li> --}}
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Header -->
   <style>
    /* body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        padding: 40px;
      } */
      
      .Home-container {
        max-width: 800px;
        margin: auto;
      }
      
      .button-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      
      .payment-button {
        padding: 20px;
        margin: 10px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      
      .payment-button:hover {
        background-color: #007bff;
        color: white;
      }
    </style>
    </head>
    
    
    <div class="Home-container">
      <h1>Choose Services</h1>
      <div class="button-container">
        <button class="payment-button" onclick="doAeps()">AEPS Payment</button>
        <button class="payment-button" onclick="hhhh">Mobile Recharge</button>
        <button class="payment-button" onclick="handlePayment('Bill Payment')">BBPS</button>
        <button class="payment-button" onclick="handlePayment('DTH Recharge')">DTH Recharge</button>
        <button class="payment-button" onclick="handlePayment('AEPS')">Money Tranfer</button>
        <button class="payment-button" onclick="handlePayment('Mobile Recharge')">Credit Card bill Payment</button>
        <button class="payment-button" onclick="handlePayment('Bill Payment')">Rent Pay</button>
        <button class="payment-button" onclick="handlePayment('DTH Recharge')">Flight Ticket Booking</button>
        <button class="payment-button" onclick="handlePayment('AEPS')">Train Ticket Booking</button>
        <button class="payment-button" onclick="handlePayment('Mobile Recharge')">UPI Transfer</button>
        <button class="payment-button" onclick="handlePayment('Bill Payment')">PostPaid Payment</button>
        <button class="payment-button" onclick="handlePayment('DTH Recharge')">Fastage Recharge</button>
        <button class="payment-button" onclick="handlePayment('AEPS')">OTT Payment</button>
        <button class="payment-button" onclick="handlePayment('Mobile Recharge')">Cable tv</button>
        <button class="payment-button" onclick="handlePayment('Bill Payment')">Metro Recharge</button>
        <button class="payment-button" onclick="handlePayment('DTH Recharge')">Pay Loan</button>
        <button class="payment-button" onclick="handlePayment('AEPS')">LIC Insurance</button>
        <button class="payment-button" onclick="handlePayment('Mobile Recharge')">Gas Cylinder Booking</button>
        <button class="payment-button" onclick="handlePayment('Bill Payment')">Education Fee</button>
        <button class="payment-button" onclick="handlePayment('DTH Recharge')">Movies Ticket Booking</button>
        <button class="payment-button" onclick="handlePayment('AEPS')">GooglePlay Recharge</button>
        <button class="payment-button" onclick="handlePayment('Mobile Recharge')">Education Fee</button>
        <button class="payment-button" onclick="handlePayment('Bill Payment')">Disney+Hostar</button>
        <button class="payment-button" onclick="handlePayment('DTH Recharge')">Bus Ticket Booking</button>



        {{!-- <script src="/js/aeps.js"></script> --}}

        <!-- Add more buttons as needed -->
      </div>
    </div>
    
    <!-- <script>
    function handlePayment(method) {
      switch (method) {
        case 'AEPS':
          alert('Initiating AEPS Payment...');
          // Here you can add your AEPS logic or redirect to a specific page.
          break;
        case 'Mobile Recharge':
          alert('Initiating Mobile Recharge...');
          // Here you can add your Mobile Recharge logic or redirect to a specific page.
          break;
        case 'Bill Payment':
          alert('Initiating Bill Payment...');
          // Here you can add your Bill Payment logic or redirect to a specific page.
          break;
        case 'DTH Recharge':
          alert('Initiating DTH Recharge...');
          // Here you can add your DTH Recharge logic or redirect to a specific page.
          break;
        default:
          alert('Invalid Payment Method');
      }
    }
    </script>  -->
    
   
    
   
     <footer class="pt-3 w-100">
      <div class="container">
        <div class="row footer-content">
          <div
            class="col-md-3 col-sm-7 footer_grid footer-logo wow animate__animated animate__fadeInLeft"
            data-wow-delay=".2s"
          >
            <h2>
              <a href="https://OnlinesPey.com/"
                ><img
                  class="img-fluid wow animate__animated animate__bounceInDown"
                  data-wow-delay="1.1s"
                  src="images/LOGO22NEW.png"
                  alt="OnlinesPey Logo"
                />
              </a>
            </h2>
            <p class="footer_short_desc">
              OnlinesPey is a professional B2B software company based in India. We
              at OnlinesPey provide a wide range of services like AePS, Recharge
              (Mobile, DTH), Bill Payment System, PAN Card, Micro ATM, Travels
              Booking, Insurance etc. with best commission.
            </p>
          </div>
          <div
            class="col-md-3 col-sm-5 footer_grid wow animate__animated animate__fadeInLeft"
            data-wow-delay=".4s"
          >
            <h3 class="my-3">Quick Links</h3>
            <div class="social-grids footer-icon">
              <ul>
                <li class="footer_links">
                  <a href="https://OnlinesPey.com/"
                    ><i class="fas fa-home"></i> Home</a
                  >
                </li>
                <li class="footer_links">
                  <a href="https://OnlinesPey.com/about"
                    ><i class="fas fa-info-circle"></i> About Us</a
                  >
                </li>
                <li class="footer_links">
                  <a href="https://OnlinesPey.com/services"
                    ><i class="fas fa-cog"></i> Services</a
                  >
                </li>
                <li class="footer_links">
                  <a href="https://OnlinesPey.com/disclaimer"
                    ><i class="fas fa-user"></i>Disclaimer</a
                  >
                </li>
                <li class="footer_links">
                  <a href="https://OnlinesPey.com/privacy-policy"
                    ><i class="fas fa-shield-alt"></i> Privacy Policy</a
                  >
                </li>
                <li class="footer_links">
                  <a href="https://OnlinesPey.com/frequently-asked-questions"
                    ><i class="fas fa-shield-alt"></i> FAQ</a
                  >
                </li>
                <li class="footer_links">
                  <a href="https://OnlinesPey.com/contact"
                    ><i class="fas fa-envelope-open"></i> Contact Us</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div
            class="col-md-3 col-sm-7 footer_grid ms-0 wow animate__animated animate__fadeInLeft"
            data-wow-delay=".7s"
          >
            <h3 class="my-3">Our Service</h3>
            <div class="social-grids footer-icon">
              <ul>
                <li class="footer_links">
                  <a href="#"><i class="fas fa-fingerprint"></i>AEPS</a>
                </li>
                <!-- <li class="footer_links"><a href="#"><i class="fas fa-money-bill-alt"></i>Money Transfer</a>
                            </li> -->
                <li class="footer_links">
                  <a href="#"><i class="fas fa-mobile"></i>Micro ATM </a>
                </li>
                <li class="footer_links">
                  <a href="#"><i class="fas fa-mobile"></i>MPOS Machine</a>
                </li>
                <li class="footer_links">
                  <a href="#"><i class="fas fa-qrcode"></i>UPI QR Code</a>
                </li>
                <li class="footer_links">
                  <a href="#"><i class="fas fa-user-shield"></i>LIC Premium</a>
                </li>
                <li class="footer_links">
                  <a href="#"><i class="fas fa-bolt"></i>All Recharge</a>
                </li>
                <li class="footer_links">
                  <a href="#"><i class="fab fa-btc"></i>BBPS</a>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="col-md-3 col-lg-2 col-sm-5 footer_grid wow animate__animated animate__fadeInLeft"
            data-wow-delay="1s"
          >
            <h3 class="my-3">Other Services</h3>

            <div class="social-grids footer-icon">
              <ul>
                <li class="footer_links">
                  <a href="#"
                    ><i class="fas fa-file-invoice"></i>Bill Payment</a
                  >
                </li>
                <!-- <li class="footer_links"><a href="#"><i class="fas fa-credit-card"></i>Credit Card Bill</a></li> -->
                <li class="footer_links">
                  <a href="#"><i class="fas fa-shield-alt"></i>Insurance</a>
                </li>
                <li class="footer_links">
                  <a href="#"><i class="fas fa-address-card"></i>Pan Card</a>
                </li>
                <li class="footer_links">
                  <a href="#"
                    ><i class="fas fa-id-card-alt"></i>Ayushman Card</a
                  >
                </li>
                <li class="footer_links">
                  <a href="#"><i class="fas fa-shipping-fast"></i>Fast Tag</a>
                </li>
                <li class="footer_links">
                  <a href="#"
                    ><i class="fas fa-suitcase-rolling"></i>Travels Booking</a
                  >
                </li>
                <li class="footer_links">
                  <a href="#"><i class="fab fa-accusoft"></i>Account Opening</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row footer-bottom">
          <hr />
          <div class="col-md-6 col-sm-12 order-2 order-md-1 copyleft">
            <p>©2023-2024 <a href="onlinesolutionhub.com"> onlinesolutionhub </a> All Rights Reserved</p>
          </div>
          <div class="col-md-6 col-sm-12 order-1 order-md-2 copyright">
            <ul class="social">
              <!-- https://www.facebook.com/OnlinesPey-108325328297454 target="_blank" -->
              <li class="mr-3">
                <a href="#">
                  <div class="bg-facebook icon-s5"></div>
                </a>
              </li>
              <!-- https://www.twitter.com -->
              <li class="mr-3">
                <a href="#">
                  <div class="bg-twitter icon-s5"></div>
                </a>
              </li>
              <!-- https://www.youtube.com -->
              <li class="mr-3">
                <a href="#">
                  <div class="bg-youtube icon-s5"></div>
                </a>
              </li>
              <!-- https://www.instagram.com/OnlinesPeydotcom/ -->
              <li class="mr-3">
                <a href="#">
                  <div class="bg-instagram icon-s5"></div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
     <script>
    const aeps = new EkoAEPSGateway();

    aeps.config({
      partner_name: '{{PARTNER_NAME}}',
      initiator_logo_url:'{{INITIATOR_LOGO}}',
      initiator_id: '{{INITIATOR_ID}}' ,
      developer_key: '{{DEVELOPER_KEY}}',
      secret_key: '{{AEPS_SECRET_KEY}}',
      secret_key_timestamp: "1585999782835",
      user_code: '{{USER_CODE}}',
      environment: "uat",
    });

    function doAeps() {
      aeps.open();
    }

  </script>
  </body>
</html>
